@page
@model IndexModel
@{
    ViewData["Title"] = "Cached Repository demo";
}


<div class="row">
    <div class="col-md-12">
        <h2>Vehicle Manufacturers</h2>
        <h2>Load time: @Model.ElapsedTimeInMilliseconds ms</h2>
        <ul>
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <li>@manufacturer.Name | @manufacturer.Models.Count</li>
            }
        </ul>
    </div>
</div>
